<div class='jumbotron'>
  <h1 class='text-center'>There are no players to rank.</h1><br/>
  <p class='text-center'><%= link_to 'Add new player', new_player_path, class: 'btn btn-primary' %></p>
</div>