<div class='jumbotron'>
  <h2 class='text-center'>This player has not played any games.</h2><br/>
  <p class='text-center'><%= link_to 'Add new game', new_game_path, class: 'btn btn-primary' %></p>
</div>